* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    padding: 55px 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 55px;
    flex-direction: column;
}

.cards {
    display: flex;
    gap: 45px;

    .card {
        border: 1px solid #000;
        border-radius: 15px;
        padding: 20px 30px;
        display: flex;
        gap: 7px;
        flex-direction: column;

        .button1, .button2 {
            padding: 7px 9px;
            display: flex;
            outline: none;
            background-color: #fff;
            font-size: 14px;
            border-radius: 5px;
            transition: 0.5s;
        }

        button:hover {
            background-color: #beb5b5;
        }
    }
}